<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="css/metro-all.min.css">

</head>
<body class="h-vh-100">
<div class="pos-fixed fixed-top app-bar-wrapper z-top">
    <header class="container pos-relative app-bar-expand-md fg-white bg-red" data-role="appbar">
        <a href="/home" class="brand no-hover">
            LOGO
        </a>

        <ul class="app-bar-menu">
            <li><a href="/home">Home</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Master</a>
                <ul class="d-menu fg-white bg-red" data-role="dropdown">
                    <li><a href="#">Kota</a></li>
                    <li><a href="/pegawai">Pegawai</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </header>
</div>
