{{>header}}


                <a href="/addpegawai" class="primary float-right"><span class="mif-plus"></span></a>

            <table class="table row-hover table-border cell-border">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tgl Lahir</th>
                        <th>Tempat Lahir</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {{#pegawaiModels}}
                    <tr>
                        <td>{{nama}}</td>
                        <td>{{tglLahir}}</td>
                        <td>{{kota}}</td>
                        <td><a href="#"><span class="mif-pencil fg-black mif-1x"></span> </a><a href="#"><span class="mif-bin mif-1x fg-red"></span></a> </td>
                    </tr>
                {{/pegawaiModels}}
                </tbody>
            </table>

</div>

<!-- jQuery first, then Metro UI JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/metro.min.js"></script>
<script>
    function add() {
         var url = "/addpegawai";
        $.get(url, function( data ) {
               Metro.dialog.create({
                    title: "Use Windows location service?",
                    content: data,
                    actions: [
                        {
                            caption: "Cancel",
                            cls: "js-dialog-close alert",
                        }
                    ]
               });
         });

    }
</script>
</body>
</html>